/* General layout */
body{
 background-color: lightblue; 
  font-family: sans-serif;
  padding: 20px;
}
/* Input text areas */
textarea {
  width: 48%;
  height: 100px;
  margin: 6px;
  padding: 8px;
  font-family: monospace;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* Buttons*/
button {
  font-family: Tahoma;
  font-weight: bold;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
button:hover {
  transform: scale(1.07);
}
/* Highlighted result boxes */
.result-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}
.buttons{
 justify-content: space-around;
  height: 40px;
  font-weight:200;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-left: 20px;
  font-family: Times;
}
.reset{
  background-color: #f7c1c1;
  border-radius: 60%;
}
/* Individual box style */
.box {
  width: 48%;
  height: 150px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: monospace;
  overflow-y: auto;
  white-space: pre-wrap;
  background-color: #f9f9f9;
}
/* Highlighted changes */
.added {
  background-color: #c1f7c1;
}
.removed {
  background-color: #f7c1c1;
  text-decoration: line-through;
}
